# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Users
.env
tsconfig.app.tsbuildinfo
config.json

# Git管理対象の画像ファイル
/public/*
!/public/*/
!/public/dark.png
!/public/favicon.ico
!/public/icon-192x192.png
!/public/icon-512x512.png
!/public/light.png
!/public/logo.png
!/public/manifest.json
!/public/project-page-top.png
!/public/project-sample1.png
!/public/project-sample2.png
!/public/project-sample3.png

# Git管理対象の画像ファイル
/public/users/*
!/public/users/README.md